.page-header
  %h1
    #{current_team.display_name.titleize}

- if @pairs.present?
  %p
    Here are your new pairs:
    #pairs
      - @pairs.each do |pair|
        .pair
          .member1= pair.member1.try(:name)
          .connector AND
          .member2= pair.member2.try(:name)
- else
  %p
    Let's match some pairs.
    =link_to "GO!", match_pairs_team_pairs_path(current_team.to_param)
