.page-header
  %h1 #{current_user.display_name.titleize}: Groups

- if current_user.groups.empty?
  %p There are no groups yet.

- current_user.groups.each do |group|
  .panel.panel-default
    .panel-heading
      %h3.panel-title= group.name.titleize
    .panel-body There are no team members in this group yet.
